html
      {
          scroll-behavior: smooth;
      }
      *{
          padding:0;
          margin:0;
          text-decoration:none;
          list-style:none;
      }
      body{
          font-family:'Barlow';
          background-color:black;
          
      }
/*-----------------------HOME-------------------------*/
/*menubar starts*/
.navbar-nav a{
  font-size:18px;
  color:white;
  text-transform:uppercase;
  font-weight:500;
  margin-left:15px;
  padding-top:20px;
  padding-bottom:20px;
  
}

.navbar-dark {
 background-color:rgb(80,31,126);
}
.navbar-dark .navbar-brand{
 color:white;
 font-size:33px;
 font-weight:700px;
 padding-top:3px;
 padding-left:15px;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
 color:white;

}
.navbar-dark .navbar-nav .navbar-link{
 color:white;
}
.w-100{
 height:100vh;
}


/*responsive css*/
@media screen and(max-width:768px) {
 
 .navbar-nav li{
    float:right;
}
}   
/*menubar ends*/        

      
/*mininos image 1st div*/
 .b1{     
    background-image: url("./images/niki.jpg");
    background-color: #fff;
    position: relative;
    padding-bottom:20px;
    height:600px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    align-items:center;
    display:flex;
    margin-top:0px;
   }
   
   .color-overlay{
    background:linear-gradient(to top left,black,black);
    width:100%;
    height:100%;
    opacity:.4;
    position:absolute;
    margin-top:19px;
    
  }
    .maintext{
      position: absolute;
      text-align:center;
      top: 100px;
      left:530px;
      color:white;
      font-size:70px;
      font-family:"Segoe UI Emoji";
   }
   .def1 {
      position: absolute;
      top: 190px;
      left:570px;
      color:white;
      font-size:30px;
      font-family:"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbo";
   }
   .def2 {
      position: absolute;
      top: 230px;
      left:550px;
      color:white;
      font-size:30px;
      font-family:"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbo";
   }
   .def3{
      position: absolute;
      top:230px;
      left:690px;
      color:white;
      font-size:30px;
      font-family:"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbo";
   }
   .def4 {
      position: absolute;
      top:230px;
      left:858px;
      color:white;
      font-size:30px;
      font-family:"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbo";
   }
   
   
 /* introductory part*/
 .c1{
    height:calc(30vh);
    margin-top:60px;
    background-color:white;
    margin-left:40px;
    width:30%; 
    background-color:rgb(231, 235, 243);
    }
  .c1:hover{
   box-shadow:0px 0px 20px rgb(240, 211, 243); ;
   transition:.4s;
   }
   .c1 span{
     font-size:30px;
     color:green;
     padding-right:8px;  
   }
   .c1 h3{
       text-align:center;
       color:rgb(58, 5, 94);
       padding-top:0px;

   }
   .c1 p{
      text-align:center;
      padding-top:10px;
      font-size:18px;
   }

   
/*for social media icons*/
.social{
  width:100%;
  height:70px;
  margin-top:0px;
  margin-left: 470px;
  
}

    
/*for copyright 6th div */
        .cprt{
            width:100%;
            background-color:white;
            height:30px;
            margin-top:10px;
          }
          

 /*for last space 7th div*/
 .space{
    width:100%;
    background-color:white;
    height:40px;
    margin-top:80px;
   }






/* media query for whole website*/
@media screen and (max-width: 600px)
{
   .mydesc{
    font-size:20px;
   }
   .social{
    margin-left: 
    50px;
    
   }
}

@media screen and (max-width: 600px) {


}






/*-----------------------SIGNIN-------------------------*/
.log{
  height:430px;
  padding-top:30px;
  border:1px solid black;
  margin-top:100px;
  border-radius:3px;
}
.log h2{
  text-align:center;
  
}




/*-----------------------SIGNUP-------------------------*/
.log1{
  height:500px;
  padding-top:30px;
  border:1px solid black;
  margin-top:100px;
  border-radius:3px;
}
.log1 h2{
  text-align:center;
  
}





